@import "../theme.scss";

//
// different bg for heros
.chem-bg{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/courses/chemistry/chemistry-hero.jpg');
}

.bio-bg{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/courses/biology/biology-hero.jpg');
}

.math-bg{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/courses/math/math-hero.jpg');
}

.phy-bg{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/courses/physics/physics-hero.jpg');
}

.hero-banner{
    background-color: $primary;
    width: 100%;
    height: 600px;
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center; 
    position: relative;
    .hero-banner-content{
        h1{
            font-family: 'Michroma', sans-serif;
            font-weight: 900;
            color: $primary;
            font-size: 5.5vw;
        }
        p{
            font-size: 1.6vw;
            color: #fff;
            line-height: 45px;
            letter-spacing: 3.5px;
        }
    }
    
    //
    @media screen and (max-width:  550px) {
        .hero-banner{
            background-size: inherit;
        }
        .hero-banner-content{
            h1{
                font-size: 45px;
            }
            p{
                font-size: 24px;
            }
        }
    
    }
}

.text-size-md{
    font-size: 22px !important;
}

.ques-section{
    .section-head-wrapper {
        margin-bottom: 4.6rem ;
        h2{
            font-family: $heading-text;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 3.2vw;
        }
        p{
            font-family: $heading-text;
            font-size: 2vw;
        }
    }
    .row{
        .icon{
            color: $secondary;
        }
        .ques{
            h2{
                font-size: 2.6vw;
            }
            p{
                font-size: 1.7vw;
            }
        }
    }
    @media screen and (max-width:  550px) {
        .section-head-wrapper{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 20px;
            }
        }
        .row{
            .justify-content-end{
                justify-content: center !important;
                .fa-5x{
                    font-size: 3.5em;
                }
            }
            .ques{
                margin-top: 20px;
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 17px;
                    width: 100% !important;
                }
            }
        }
    }
}

.teacher-section{
    .best-tutor-card{
        border: 0px !important;
        .card-img-top{
            width: 32%;
        }
        .card-body{
            padding: 0px !important;
        }
    }
}

.service-section{
    .c-col-service{
        background-color:$grey-bg;
        height: 283px;
        @media screen and (max-width:  550px) {
          .row{
            --bs-gutter-x: 0 !important;
          }
          
        }
    }
    .service-card{
        p{
            font-size: 15px;
            color: $black;
            font-weight: 300;

        }
        h2, h3{

            font-weight: 400;
            font-family: $body-text;
                        color: $black;
        }
        i{
            color: $primary;
            transition: 0.2s ease;
        }
        &:hover {
            i{
                color:$primary;
            }
        }
    }
    .c-col-service-white{
        background-color: $white;
    }
}
.text-bg-primary{
    background-color: #4ecac259;
    font-weight: bold;
}
.custom-list{
    .bullet{
        font-size: 49px;
        color: $secondary;
    }
    .point{
        font-size: 16px;
        vertical-align: middle;
    }
}

.margin-less{
    margin-top: -45px;
}

.service-section .service-card p{
    font-size: 20px;
}

.bullet-list{
    display: list-item !important;
    list-style: none !important;
    li.arrow{
        list-style: disclosure-closed !important;
    }
    li.nested{
        list-style: disc !important;
    }
    li.tutor{
        list-style: disc !important;
        font-size: 18px;
    }
    li.tutor::marker {
        color: $secondary; /* or whatever color you prefer */
      }
}

.jura-text{
    font-family: $heading-text;
}