
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid black;
}
.menu-container {
  margin: 0 auto;
  background: #e9e9e9;
}
.menu a.logo {
    display: inline-block;
    padding: 0px 3em;
    width: 19%;
}
.menu img {
    max-width: 100%;
}
.menu-mobile {
  display: none;
  padding: 20px;
}

.menu-dropdown-icon:before {
  content: "+";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding-top: 20px;
  background: #fff;
  color: #333;
  font-size: 25px;
  font-weight: 900;
  color: #4ecac2;
}
.menu > ul {
  list-style: none;
  position: relative;
  margin: 0;
  display: flex;
  padding-bottom: 0;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  /* background: #e9e9e9; */
  padding: 0;
  margin: 0;
  flex: none;
  font-size: 18px;
}
.menu > ul > li a {
  text-decoration: none;
  padding: 1.5em 2em;
  display: block;
}
.menu > ul > li:hover > a {
  transition: 0.3s ease-in;
  color: #4ecac2;
  /* font-weight: bold; */

}
.drop-down-wrapper{
  border: 0px !important;
}
.menu > ul > li > ul {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a {
  /* color: #777; */
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li a:hover{
    border-bottom: 1px solid #edae44;
}



.menu > ul > li > ul.normal-sub {
  width: 200px;
  left: auto;
  margin-top: 5px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
  margin-left: 0;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}


.drop-down li{
  background: #edae44 !important;
  padding: 0px 20px !important;
  margin-bottom: 3px !important;
}
.drop-down li a{
  color: white;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
  .menu-container {
    width: 100%;
  }
  .menu-container .menu{
	display:inline-block;
   }
  .menu-mobile {
    display: block;    
    float: right;    
    padding: 10px 0px;
    color: #4ecac2;

  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
    width:100%;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;
    padding: 0 0px 0px 20px;
  }
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu .show-on-mobile {
    display: block;
  }

  .menu a.logo {
    padding: 0;
    width: 140px;
}
.menu{
  padding: 10px 20px;
  display: block;

}
.menu > ul > li > ul.normal-sub > li{
  
  width: 100%;
  margin-left: 0;
}
}
